<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.ExcelChartToImageConverter.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.Licensing" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.SfCellGrid.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.SfChart.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.SfGridCommon.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.SfSkinManager.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.SfSpreadsheet.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.SfSpreadsheetHelper.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.Shared.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.Themes.Office2019White.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.Tools.WPF" version="19.1.0.54" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.Wpf" version="19.1.0.54" targetFramework="net46" />
</packages>